In [7]:
# ! pip install polars

Collecting polars
  Downloading polars-0.15.14-cp37-abi3-win_amd64.whl (15.8 MB)
     ---------------------------------------- 15.8/15.8 MB 3.1 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.0 in c:\users\mayan\anaconda3\envs\otto_pyenv\lib\site-packages (from polars) (4.4.0)
Installing collected packages: polars
Successfully installed polars-0.15.14

In [5]:
import gc
import polars as pl

In [6]:
train = pl.read_parquet('archive/train.parquet')

In [7]:
train.head()

shape: (5, 4)
┌─────────┬─────────┬────────────┬──────┐
│ session ┆ aid     ┆ ts         ┆ type │
│ ---     ┆ ---     ┆ ---        ┆ ---  │
│ i32     ┆ i32     ┆ i32        ┆ u8   │
╞═════════╪═════════╪════════════╪══════╡
│ 0       ┆ 1517085 ┆ 1659304800 ┆ 0    │
│ 0       ┆ 1563459 ┆ 1659304904 ┆ 0    │
│ 0       ┆ 1309446 ┆ 1659367439 ┆ 0    │
│ 0       ┆ 16246   ┆ 1659367719 ┆ 0    │
│ 0       ┆ 1781822 ┆ 1659367871 ┆ 0    │
└─────────┴─────────┴────────────┴──────┘

In [24]:

    sentences_df =  train.sort(
                                by='ts'
                            ).groupby(
                                'session'
                            ).agg(
                                [pl.col('aid').alias('aid_list'),
                                pl.col('type').alias('type_list')]
                            )                    
    sentences_df = sentences_df.to_pandas()

c:\Users\mayan\anaconda3\envs\otto_pyenv\lib\site-packages\pyarrow\compute.py:198: RuntimeWarning: Python binding for CumulativeSumOptions not exposed
  .format(class_name), RuntimeWarning)
c:\Users\mayan\anaconda3\envs\otto_pyenv\lib\site-packages\pyarrow\compute.py:198: RuntimeWarning: Python binding for RankOptions not exposed
  .format(class_name), RuntimeWarning)

In [31]:
sentences_df[sentences_df['session']==778465]['aid_list'].tolist()

[array([1032480,  127024, 1645990,  497634,  119874,   43313,  779541,
          43313,  240796, 1039223, 1039223, 1039223,  240796, 1039223,
         911920, 1750671,   43313, 1054516,  240796,  240796, 1500705,
        1032480, 1032480, 1500705,   43313,  249219,  249219,  249219,
         249219,  249219, 1633206, 1633206, 1253390, 1338993, 1338993,
        1698825, 1698825,  794192,   59455,   59455, 1580498, 1580498,
         807444,   59455, 1580498, 1580498, 1580498, 1538029,  807444,
         672106,  672106,  794192, 1698825, 1338993,  441090, 1580498,
         807569,  807569,  807569,  832192,  832192,  832192,  832192,
         832192,  832192,  832192,  832192,  121424,  832192, 1349900,
        1298438,  507904,  665609,  147484,  904489,  904489,  850265,
         324163,  949670,  949670,  949670,  949670, 1192664, 1517720])]

In [26]:
import sys
sys.getsizeof(sentences_df) // 1024

2872216

In [12]:
q = (
    train
    .filter(
        pl.col('session').is_in(list(range(10000)))
    ).sort(
        by='ts'
    ).groupby(by='session')
    .agg(
         [pl.col('aid').alias('aid_list'),
            pl.col('type').alias('type_list')]
    )   
)

In [13]:
t = q.to_pandas()

c:\Users\mayan\anaconda3\envs\otto_pyenv\lib\site-packages\pyarrow\compute.py:198: RuntimeWarning: Python binding for CumulativeSumOptions not exposed
  .format(class_name), RuntimeWarning)
c:\Users\mayan\anaconda3\envs\otto_pyenv\lib\site-packages\pyarrow\compute.py:198: RuntimeWarning: Python binding for RankOptions not exposed
  .format(class_name), RuntimeWarning)

In [15]:
t.iloc[0]

session                                                   1440
aid_list     [731754, 1048811, 631311, 631311, 1191272, 797...
type_list    [0, 2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, ...
Name: 0, dtype: object

In [14]:
t

,session,aid_list,type_list
0,1440,"[731754, 1048811, 631311, 631311, 1191272, 797...","[0, 2, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, ..."
1,3200,"[516077, 176984, 600193, 258633, 1279467, 1532...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,992,"[573104, 370458, 792945, 645257, 485799, 24363...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,640,"[1032830, 597201, 677031, 948296, 707257, 1104...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,8608,"[1824710, 1824710, 481072]","[0, 0, 0]"
...,...,...,...
9995,3489,"[70727, 845272, 707236, 1016290, 1753882, 9435...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
9996,4417,"[423010, 423010, 1754941, 1743151, 1605487, 32...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
9997,3905,"[1704678, 1225528, 1604271, 1604271, 1604271, ...","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ..."
9998,6977,"[199746, 1231259, 327063, 876556]","[0, 0, 0, 0]"
9999,1633,"[496180, 140045, 1226118, 672432, 252278, 7852...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [23]:
q.filter(
        pl.col('session')==10902        
    ).collect()

shape: (1, 3)
┌─────────┬──────────────────────────────┬───────────────┐
│ session ┆ aid_list                     ┆ type_list     │
│ ---     ┆ ---                          ┆ ---           │
│ i32     ┆ list[i32]                    ┆ list[u8]      │
╞═════════╪══════════════════════════════╪═══════════════╡
│ 10902   ┆ [546756, 546756, ... 543961] ┆ [0, 0, ... 0] │
└─────────┴──────────────────────────────┴───────────────┘

In [3]:
sentences_df =  train.groupby('session').agg(
    [pl.col('aid').alias('aid_list'),
    pl.col('type').alias('type_list')]
)

In [6]:
train[train['session']==0]

ValueError: Cannot __getitem__ on DataFrame with item: 'shape: (216716096,)
Series: 'session' [bool]
[
	true
	true
	true
	true
	true
	true
	true
	true
	true
	true
	true
	true
	...
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
]' of type: '<class 'polars.internals.series.series.Series'>'.

In [4]:
(sparkDF.head(10000)
  .groupby("session")
  .agg(F.collect_list("aid").alias("aid_list"),
       F.collect_list("type").alias("type_list"))
  .show()
)

ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it